.telegramText {
    color: var(--tg-theme-text-color);
    padding: 8px;
    margin: 6px;
}

.telegramTitle {
    font-weight: bolder;
    font-size: 22px;
    text-align: center;
    align-self: center;
}
