.telegramText {
    color: var(--tg-theme-text-color);
    margin: 8px;
}

.telegramTitle {
    font-weight: bolder;
    font-size: 22px;
    text-align: center;
    align-self: center;
}

.telegramSubtitle {
    font-weight: normal;
    font-size: 16px;
}

.telegramDescription {
    font-weight: normal;
    font-size: 12px;
}
