:root {
    --primary-color: #ffffff
}

.btn {
    padding: 0.6rem 0.8rem;
    font-size: 1.2rem;
    text-align: center;
    border: 0;
    outline: none;
    border-radius: 10px;
    width: 120px;
    margin-left: 10px;
    box-shadow: 1px -3px 52px -5px rgba(0, 0, 0, .77);
    cursor: pointer;
}