.telegramButton {
    padding: 20px 20px;
    margin: 20px 20px;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    outline: none;
    cursor: pointer;
}