.telegramInput {
    padding: 10px;
    margin: 6px;
    background: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
    border: none;
    outline: none;
    cursor: text;
    font-size: 14px;
    border-radius: 6px;
}