.telegramInput {
    padding: 4px 4px;
    margin: 4px 4px;
    background: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
    border: none;
    outline: none;
    cursor: text;
    font-size: 16px;
    border-radius: 6px;
}